<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.bookrental.mapper.BookMapper">

	<!-- 도서등록 -->
	<insert id="insertBook" parameterType="com.web.bookrental.dto.Book">
		<selectKey keyProperty="book_id" resultType="int" order="BEFORE">
			select book_seq.nextval from dual
		</selectKey>
		insert into book(book_id, book_name, company, writer, price, context)
		values(#{book_id}, #{book_name}, #{company}, #{writer}, #{price},
		#{context})
	</insert>

	<!-- 도서검색 리스트 -->
	<resultMap type="com.web.bookrental.dto.Book" id="selectByBook">
		<id property="book_id" column="book_id" />
		<result property="book_name" column="book_name" />
		<result property="company" column="company" />
		<result property="writer" column="writer" />
		<result property="price" column="price" />
		<result property="context" column="context" />
		<result property="rental_count" column="rental_count" />
		<result property="over_time_count" column="over_time_count" />
		<result property="rental_time" column="rental_time" />
		<result property="return_time" column="return_time" />
		<result property="return_schedule_time" column="return_schedule_time" />
		<result property="rental_check" column="rental_check" />
	</resultMap>

	<!-- book_name 검색 -->
	<select id="selectByBookName" parameterType="String" resultMap="selectByBook">
		select * from book where book_name like '%'||#{search_name}||'%' order by book_id desc
	</select>

	<!-- book_id 검색 -->
	<select id="selectByBookId" parameterType="int"
		resultType="com.web.bookrental.dto.Book">
		select * from book where book_id=#{book_id}
	</select>

	<!-- 도서대여 -->
	<update id="updatByRetalBook" parameterType="com.web.bookrental.dto.Book">
		update book set
		rental_count=rental_count+1, rental_time=#{rental_time},
		return_schedule_time=#{return_schedule_time},
		rental_check=#{rental_check} where
		book_id=#{book_id}
	</update>

	<!-- 도서반납 -->
	<update id="updateByReturnBook" parameterType="com.web.bookrental.dto.Book">
		update book set
		over_time_count=#{over_time_count},
		return_time=#{return_time},
		rental_check=#{rental_check} where
		book_id=#{book_id}
	</update>

	<!-- 대여도서 검색 리스트 -->
	<resultMap type="com.web.bookrental.dto.Book" id="selectByRentalBook">
		<id property="book_id" column="book_id" />
		<result property="book_name" column="book_name" />
		<result property="company" column="company" />
		<result property="writer" column="writer" />
		<result property="rental_time" column="rental_time" />
		<result property="return_schedule_time" column="return_schedule_time" />
	</resultMap>

	<!-- 대여도서 검색 -->
	<select id="selectByRentalBookName" parameterType="String"
		resultMap="selectByRentalBook">
		select book_id, book_name, company, writer, rental_time,
		return_schedule_time from book
		where book_name like
		'%'||#{search_name}||'%' and rental_check=1
	</select>

	<!-- 총 도서수 -->
	<select id="bookCountBySelect" parameterType="String" resultType="int">
		select count(*) from book where book_name like %||#{secrch_name}||%
	</select>


</mapper>