<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.bookrental.mapper.BookMapper">

	<!-- 도서등록 -->
	<insert id="insertBook" parameterType="com.web.bookrental.dto.Book">
		<selectKey keyProperty="book_id" resultType="int" order="BEFORE">
			select book_seq.nextval from dual
		</selectKey>
		insert into book(book_id, book_name, company, writer, price)
		values(#{book_id}, #{book_name}, #{company}, #{writer}, #{price});
	</insert>

	<!-- 도서검색 -->
	<resultMap type="com.web.bookrental.dto.Book" id="selectByBookName">
		<id property="book_id" column="book_id" />
		<result property="book_name" column="book_name" />
		<result property="company" column="company" />
		<result property="writer" column="writer" />
		<result property="price" column="price" />
		<result property="rental_check" column="rental_check" />
	</resultMap>

	<!-- book_name 검색 -->
	<select id="selectByBookName" parameterType="String" resultMap="selectByBookName">
		select book_id, book_name, company, writer, price from book
		where
		book_name like '%'||#{search_name}||'%'
	</select>

	<!-- book_id 검색 -->
	<select id="selectByBookId" parameterType="int"
		resultType="com.web.bookrental.dto.Book">
		select * from book where book_id=#{book_id}
	</select>

	<!-- 도서대여 -->
	<update id="updatByRetalBook" parameterType="int">
		update book set
		rental_count=rental_count+1, rental_time=sysdate,
		return_schedule_time=sysdate+10/24/60, rental_check=1 where
		book_id=#{book_id}
	</update>

</mapper>